.div_img{display: inline;width: 10%;height:2rem;float: left;text-align:center;vertical-align: middle;} 
.div_img img{border-radius:3rem;vertical-align: middle;width:3rem;height:3rem;} 
.div_author{display: inline;width: 89%;height:2.5rem;float: right;line-height: 1.7rem;} 
.author{font-weight: normal;font-size:1.2rem;color:#333333;height:50%;text-align:left;}
.time_cmt{font-size:1.2rem;color: #808080;height:50%;text-align:left;padding-top: 0.1rem}
span{ width:100%;display:block;font-size:1.4rem;padding-top: 0.8rem;padding-bottom: 0.8rem}
h2 { font-size:2.0rem;color:black; }
p { font-size:1.6rem;color:#333333; }
body {font-size:1.6rem;color:#333333;}