a{display:block;text-decoration:none;}
.hr1{ height:0px;border:none;border-top:1px solid #D3D3D3;}
.font1{font-weight: normal;font-size:1.5rem;color: #333333;text-align:left;vertical-align:top;}
.font2{font-size:1.2rem;color: #808080;}